@import '../../sass//vairable.scss';
@import '../../sass//mixins.scss';

.input-field {
  width: 100%;
  & p {
    @include commonFM(0px 0px 10px 0px, 1.2rem);
  }
  & input:focus {
    outline: none;
  }
  & input {
    @include commonFM(0px 0px 10px 0px, 1.2rem);
    width: 100%;
    border: none;
    border-bottom: 1px solid $textColor;
  }
}
